CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
*.project
*.cproject
*.pydevproject
.*settings
*.pyc
*.autotools
*bin
*trials.cpp
*Cell3DDemonstration.cpp
*.vtu
*.json

vtk_trial*
build
.ycm_*
tags
